.DS_Store
diari/.DS_Store
src/.DS_Store


.vscode/settings.json
src/DroneController/build/classes/**
src/DroneController/build/nbproject/**
src/DroneController/nbproject/**
src/DroneSimulator/nbproject/private/private.properties
src/DroneController/build/classes/controller/FrameHelper.class
src/DroneController/dist/DroneController.jar
