.DS_Store
diari/.DS_Store
src/.DS_Store

src/DroneController/nbproject/private/private.properties
src/DroneSimulator/build/built-jar.properties

src/DroneController/build/classes/reader/LeapMotionReader.class
src/DroneController/build/classes/controller/DroneController.class
src/DroneController/dist/DroneController.jar
src/DroneController/nbproject/private/private.xml
.vscode/settings.json